* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  background-color: dodgerblue;
  display: flex;
  flex-wrap: wrap;
}

.square-100{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid white;
  text-align: center ;
  line-height: 50px;
}

.square-64{
  width: calc(100% / 8);
  height: calc(100% / 8);
  border: 1px solid white;
  text-align: center ;
  line-height: 60px;
}

.square-49{
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 1px solid white;
  text-align: center ;
  line-height: 70px;
}

.hide {
  display: none;
}

.clicked {
  background-color: blue;
  color: white;
  cursor: pointer;
}